html {
    height: 100%;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 30px;
    background-color: #BAC9B9;
    height: 100%;
    overflow: hidden;
}

.emscripten {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
